[submodule "WshModules/WshJest"]
	path = WshModules/WshJest
	url = https://github.com/tuckn/WshJest.git
[submodule "WshModules/WshOS"]
	path = WshModules/WshOS
	url = https://github.com/tuckn/WshOS.git
